.app {
  /* text-align: center; */
  width: 80%;
  margin: 50px;

}

.education-section input{
  width: 100%;
  margin: 5px;
  display: block; {/*to have own line */}
}

.gen-info-section input{
  width: 100%;
  margin: 5px;
  display: block; {/*to have own line */}
}

.section-heading {
  border-bottom: 2px solid black;
}

.work-section input{
  width: 100%;
  margin: 5px;
  display: block; {/*to have own line */}
}
